#root {
  display: flex;
}

/* MAIN */
section {
  padding: 45px 0px;
  margin: 5px;
}

.section-title {
  padding-left: clamp(1em, 2vw, 2em);
  color: var(--primaryColor);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}
