:root {
  --primaryColor: #000000;
  --secondaryColor: #000000;
  --tertiaryColor: #f6f6f6;
  --bodyFontDesktop: 22px;
  --bodyFontPhone: 18px;
}

/* Resetting margins and padding */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--tertiaryColor);
  font-family: "Satoshi", sans-serif;
}

a {
  text-decoration: none;
}

a {
  transition: all 0.25s ease-in-out;
}
